.table-grid {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-gap: 3px;
}

.table-grid div {
    width: 20px;
    height: 20px;
    background: #f3f3f3;
    border: 1px solid #ddd;
    cursor: pointer;
}

.table-grid div:hover,
.table-grid div.active {
    background: #90caf9;
}

iconify-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
