/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.main-background-section {
  background: url("../assets/bg_main.gif") repeat-y scroll center top rgba(0, 0, 0, 0);
}


.top-navbar {
  background-color: #192a56;
}

.frontScroll {
  background: #f1f6e8;
  padding: 10px 0;
  position: relative;
}

.frontScroll .tag {
  background: #afdbe5;
  bottom: 0;
  color: #2f3640;
  left: 0;
  line-height: 2.5;
  padding: 5px 25px 5px 15px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.scroll_link,
span {
  color: #1e90ff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.main_nav {
  background: #358a47;
}

.dropdown-toggle,
.nav_page {
  color: #fff !important;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: 0.2s;
}

#navbarNav a {
  cursor: pointer;
  text-decoration: none;
}

.main-container {
  margin-top: 10px;
  background-color: white;
}

.main-slider {
  position: relative;
}

.main-slider .owl-next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.main-slider .owl-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.notice-container {
  position: relative;
  margin: 10px 0;
}
.notice-container .listItem {
  background: #f1f6e8;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-height: 200px;
  padding-top: 15px;
}

.wiz_heading {
  background-color: #348a47;
  color: #fff;
  font-family: Noto Sans Bengali, sans-serif !important;
  font-size: 20px;
  font-weight: 700;
  padding: 4px;
  margin-bottom: 0 !important;
}

.scroll_item a {
  text-decoration: none;
}

.world_img {
  position: absolute;
  right: 0;
  top: 0;
}
.notice_btn {
  background: #358a47;
  bottom: 0;
  color: #fff;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  z-index: 40;
}
.wiz_heading {
  background-color: #348a47;
  color: #fff;
  font-family: Noto Sans Bengali, sans-serif !important;
  font-size: 20px;
  font-weight: 700;
  padding: 4px;
  text-align: center;
}
.card__ img {
  border: 1px solid #ccc;
  height: 200px;
  margin-top: 8px;
}

.carousel__slide {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0;
  position: relative;
  scroll-snap-stop: auto;
  transform: translateZ(0);
}
.carousel__item {
  text-align: center;
  margin: 25px 0;
}
.btn-link {
  color: #348a47!important;
  font-family: Noto Sans Bengali,sans-serif!important;
}
.disabled {
  display: none !important;
}
.video-marquee{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 25px 0;
}
.mapouter{
  margin: 10px 0;
}
.details-section{
  width: 100% !important;
    margin: 0 auto;
  justify-content: space-between;
}
.box {
  border: 1px solid #ccc;
  cursor: pointer;
  height: 180px;
  float: left;
  padding: 10px;
  position: relative;
  overflow: hidden;
  color: #000;
  /* width: 326px!important; */
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.service-box {
  margin-top: 14px;
  margin-left: 0px;
  height: auto;
  width: 49% !important;
}
.service-box h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
  border-bottom: 1px solid #d4d4d4;
}
.service-box img {
  width: 110px;
  height: auto;
  float: left;
}
.service-box ul {
  float: left;
  width: 65%;
  list-style: none;
}
.service-box ul li {
  margin: 7px 0 0 20px;
  font-size: 1.1em;
  line-height: 18px;
  position: relative;
}
.service-box ul li::before {
  content: "\27A7";
  position: absolute;
  bottom: 0;
  left: -16px;
  font-family: "FontAwesome";
  color: var(--bg1);
  transition: 0.5s;
}
.service-box ul li a {
  color: #000;
  font-size: 0.9em;
  text-decoration: none;
}
.footer-artwork {
  background: url("../assets/footer_top_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 106px;
  width: 100%;
  clear: both;
  padding-top: 25px;
  background-size: cover;
  background-color: white;
}
footer {
  background: #0d7d34;
}
footer h3 {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}
footer a {
  color: #fff;
}
footer h4 {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
footer p {
  color: #fff;
  line-height: 25px;
}
footer ul {
  padding-left: 0;
  margin-top: 10px;
}
footer ul li {
  list-style: none;
}
footer ul li .fa {
  padding-right: 5px;
  color: #fff;
}
footer ul li a {
  color: #fff;
}
footer .list-grp {
  padding-left: 0;
  margin-bottom: 30px;
}
footer .list-grp li {
  list-style: none;
  border-bottom: 1px dashed #333333;
  padding: 10px 0;
}
footer .list-grp li a {
  text-decoration: none;
  color: #fff;
}
footer .foot-bottom-con {
  font-weight: normal;
}
.foot-bottom-con {
  background: #087815;
  padding: 20px;
}
footer .foot-bottom-con ul {
  margin-top: 0;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
}
.footer-section {
  padding-top: 30px;
}
.custom_btn {
  background: none;
  border: none;
  color: green;
  cursor: pointer;
  font-weight: 600;
  margin-top: 0;
  font-size: 14px;
}

.widget-heading {
  background-color: #348a47;
  border: none;
  color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  width: 100%;
}
.widget-heading-teacher {
  background-color: #f1f6e8;
  color: #358a47;
  font-size: 18px;
  margin-top: -5px;
}
.salat__time-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}
.salat__name, .salat__time {
  box-shadow: 0 1px 4px #00000029;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  width: 50%;
}
.salat__name {
  background-color: transparent;
  background-color: #afdbe5;
  margin: 3px 0;
}
.salat__time {
  background-color: transparent;
  background-color: #f1f6e8;
  margin: 0;
}
.weather_content {
  background-image: url(https://img.freepik.com/free-vector/realistic-blue-sky-background_1048-6707.jpg?w=1060&t=st=1693667855~exp=1693668455~hmac=46e38b978bc31d155c5a43ec20fd2499fb83d5330d522db5a0c49e0f2b3846b6);
  background-position: top;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  padding: 60px 0;
  text-shadow: 2px 1px gray;
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  font-size: 13px;
  margin-top: 5px;
}
.icon {
  color: #2eec2e;
  font-size: 10px;
  margin-right: 10px;
}
.national_anthem audio, .dengue {
  margin: 10px 0;
  width: 100%;
}
.hot {
  margin: 0 auto;
  padding: 10px 5px;
  width: 100%;
}
.slider_item{
  min-height: 450px;
  max-height: 450px;
}